/*##############################################################################
#       Copyright (C) 2013  Diego Rabatone Oliveira, Leonardo Leite            #
#                      <diraol(at)diraol(dot)eng(dot)br>                       #
#                                                                              #
#    This program is free software: you can redistribute it and/or modify      #
# it under the terms of the GNU Affero General Public License as published by  #
#      the Free Software Foundation, either version 3 of the License, or       #
#                     (at your option) any later version.                      #
#                                                                              #
#       This program is distributed in the hope that it will be useful,        #
#       but WITHOUT ANY WARRANTY; without even the implied warranty of         #
#        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
#             GNU Affero General Public License for more details.              #
#                                                                              #
#  You should have received a copy of the GNU Affero General Public License    #
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.     #
##############################################################################*/

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

#chart {
  margin-left: -40px;
  height: 506px;
}

.outer_background_radius {
    fill: rgba(240,240,240,0.6);
    stroke-width: 3;
    stroke: rgba(210,210,210,1);
}

.background_radius {
    fill: none;
    stroke: rgba(210,210,210,1);
}

.alterna_escala {
  font: 700 16px "Helvetica Neue";
  fill: #d17fa3;
}

.alterna_escala:hover {
  font: 700 20px "Helvetica Neue";
  fill: #99c;
  cursor: pointer;
}

.party {
  stroke: rgba(0,0,0,0.3);
  cursor: pointer;
}

.party:hover .party_circle {
  opacity: 1
}

.party_circle {
  opacity: 0.6
}

.party_circle.hover {
  cursor: pointer;
  opacity: 1
}

.parlamentar_circle {
  cursor: pointer;
  opacity: 0.6
}

.parlamentar_pesquisado_circle {
  cursor: pointer;
  opacity: 1 !important;
  stroke: #000;
  stroke-width: 4;
}

.parlamentar_circle_hover {
  stroke-width: 0.5;
  stroke: #111;
  cursor: pointer;
  opacity: 1
}

.parlamentar_circle:hover {
  cursor: pointer;
  opacity: 1
}

.legend_item {
  cursor: pointer;
  font-weight: normal;
}

.legend_item.active {
  font-weight: bold;
  color: #f22;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.label {
  fill: #777;
}

.total_label {
  font: 700 16px "Helvetica Neue";
  fill: #bbb;
}

.year.label {
    font: 500 40px "Arial";
    fill: #bbb;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.year.label.active {
  fill: #555;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.previous, .next {
    font: 700 30px "Helvetica Neue";
    fill: #bbb;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: default;
}

.previous.active, .next.active {
    font: 700 35px "Helvetica Neue";
    fill: #333;
    cursor: pointer;
}

.previous.invalid, .next.invalid {
    opacity: 0.4; 
	filter: alpha(opacity=40);
}


/* RADAR PARLAMENTAR - PERSONALIZAÇÕES */
#legenda {
    float:right;
    text-align: center;
    margin-right:-20px;
    width:101px;
}
#legenda ul {
    text-align: left;
}

/* d3-tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
/*  width: 200px; */
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;label{
            color: #666;
            display: block;
            left: 10px;
            top: 5px;
        }
  left: 0;
}

label{
    font-weight: bold;
    font-size: 14px;
    color: #4896E9;
    display: block;
    left: 10px;
    top: 5px;
}


